# Datatypes

## Simple datatypes

In [2]:
a = int()
b = ''
c = float()

## Complex datatypes

In [3]:
d = list()
# d = []
e = tuple()
# e = ()
f = dict()
# f = {}
g = set()

Make use of the cell below to check the type any of the variables created here.

In [4]:
type(a)

int

In [6]:
x = 2
y = int(2.8)
print(x)
print(y)

In [9]:
name = input("Enter your name: ")
print("Hello " + name)

Enter your name: Shamanth
Hello Shamanth

## Identity Operator

In [11]:
print(x is y)
print(x is not y)

True
False

```is``` and ``` is not ``` check for <b>value</b> and not <b> type

In [14]:
x = 5
y = 9
print(x is y)
print(x is not y)

False
True

In [16]:
x, y = 5, 9
print(x, y)

5 9

# Lists

## Basics of lists

In [17]:
l = ["abc", 786, "John", 10.2]
l1 = [123, "John"]
print(l)
print(l[0])
print(l[1:3])
print(l[2:])
print(l[-1:])
print(l[:-1])
print(l * 2)
print(l + l1)

['abc', 786, 'John', 10.2]
abc
[786, 'John']
['John', 10.2]
[10.2]
['abc', 786, 'John']
['abc', 786, 'John', 10.2, 'abc', 786, 'John', 10.2]
['abc', 786, 'John', 10.2, 123, 'John']

## List Operations

lists can make use of several inbuilt functions namely: append(), insert(), pop(), remove(), extend(), search(), len(), sum(), min(), max(), reverse(), count(), clear()

In [26]:
l3 = [i for i  in range(10)]
l.append("a")
print(l)

l.insert(2, 5)
print(l)

print(l.extend(l1))
print(l)

print(l1.extend(l))
print(l1)

print(len(l))
print(min(l3))
print(max(l3))
print(sum(l3))

l3.pop(0)
print(l3)

l3.remove(2)
print(l3)

l1.clear()
print(l1)

l3.reverse()
import random
random.shuffle(l3)
print(l3)

l3.sort(reverse = True)

l4 = l3
print(l4)
sorted(l4)
print(l4)

['abc', 786, 5, 5, 5, 5, 5, 5, 5, 'John', 10.2, 'a', 123, 'John', 'a', 'a', 'a', 'a', 'a', 'a', 'a']
['abc', 786, 5, 5, 5, 5, 5, 5, 5, 5, 'John', 10.2, 'a', 123, 'John', 'a', 'a', 'a', 'a', 'a', 'a', 'a']
None
['abc', 786, 5, 5, 5, 5, 5, 5, 5, 5, 'John', 10.2, 'a', 123, 'John', 'a', 'a', 'a', 'a', 'a', 'a', 'a']
None
['abc', 786, 5, 5, 5, 5, 5, 5, 5, 5, 'John', 10.2, 'a', 123, 'John', 'a', 'a', 'a', 'a', 'a', 'a', 'a']
22
0
9
45
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 4, 5, 6, 7, 8, 9]
[]
[4, 7, 5, 1, 6, 8, 9, 3]
[9, 8, 7, 6, 5, 4, 3, 1]
[9, 8, 7, 6, 5, 4, 3, 1]

# Conditional statements

## if, elif, else

In [27]:
x = 5
if x % 2 == 0:
    print("x is even")
elif x == 0:
    print("x is 0")
else: 
    print("x is odd")

x is odd

# Loops

# for loops
We can make use of ```continue``` and ```break``` statements as well in for loops.

In [30]:
for i in range(10):
    if i == 5:
        continue
    if i == 8:
        break
    print(i)

0
1
2
3
4
6
7

In [39]:
boys = ["Akshay", "Sanjay", "Mahesh", "Ashik", "Harshith"]
for boy in boys:
    print(boy)

Akshay
Sanjay
Mahesh
Ashik
Harshith

## while loops

In [38]:
i = 0
while i < 10:
    if i == 5:
        i += 1
        continue
    if i == 8:
        break
    print(i)
    i += 1

0
1
2
3
4
6
7

# Modules
In Python, we have modules from which we can import functions and classes in order to perform certain tasks.

In [2]:
import random
import math
import datetime

In [4]:
from pandas import DataFrame
import numpy as np

The above 2 cells are examples how we can make use of the ```import``` and ```from``` keywords.

In [ ]:
np